.navbar {
  font-size: 2.5rem;
  background-color: $color-primary;
  padding-bottom: 1rem;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100;
  .logo {
    display: inline-block;
    margin-left: 2rem;
  }
}

.main-nav {
  list-style-type: none;
  display: none;
}

.main-nav {
  li {
    text-align: center;
    margin: 1rem auto;
  }
  .nav-links {
    color: $color-grey-light-1;
    text-decoration: none;
    font-weight: 600;

    &:hover {
        color: $color-white;
    }
  }
}

.navbar-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
}

.active {
  display: block;
}

@media screen and (min-width: $bp-medium) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
    font-size: 1.8rem;
  }

  .main-nav {
    display: flex;
    margin-right: 3rem;
    flex-direction: row;
    justify-content: flex-end;

    li {
      margin: 0;
    }

    .nav-links {
      margin-left: 40px;
    }

    .logo {
      margin-top: 0;
    }
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }
}
