.slider-wrapper {
  position: relative;
}

.dots-wrapper {
  position: absolute;
  width: 100px;
  left: 50%;
  margin-left: -50px;
  bottom: 20px;
  text-align: center;
  li {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    margin: 0 4px;
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.3s;
    &.active,
    &:hover {
      opacity: 1;
    }
  }
}
.slider {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
  overflow: hidden;
  .slider-inner {
    position: absolute;
    &:after {
      content: "";
      display: table;
      clear: both;
    }
    .slide {
      height: 100vh;
      float: left;
      box-sizing: border-box;
      background-size: cover;
      // background-size: 100%;
      background-attachment: fixed;
      background-repeat: no-repeat;
      background-position: top center;
      background-color: bisque;
      opacity: .8;
      &.slide1 {
        background-image: url("../../public/promo-1.jpg");
      }
      &.slide2 {
        background-image: url("../../public/promo-2.jpg");
      }
      &.slide3 {
        background-image: url("../../public/promo-4.jpg");
      }
      &.slide4 {
        background-image: url("../../public/vegetables.jpg");
      }
      &.slide5 {
        background-image: url("../../public/spices.jpg");
      }
      img {
        display: block;
      }
      span {
        position: relative;
        // color: $color-secondary-light;
        color: $color-white;
        top: 12vh;
        left: 1vw;
        cursor: default;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        //This should be included for the slide to prevent
        // highlight of the images or texts when the user drags the slide.
        display: block;
        width: 50vw;
        // height: 100vh;
        // top: 12vw;
        font-size: 5rem;
        font-weight: bold;
        // line-height: 100vh;
        letter-spacing: .2rem;
        font-family: Impact, Charcoal, sans-serif;
        // text-shadow: 5px 5px 0px $color-grey-dark-2;
      }
    }

    @media only screen and (max-width: $bp-medium) {
      .slide {
        height: 65vh;
      }
    }
  }
}
a[class|="arrow"] {
  position: absolute;
  display: block;
  top: 50%;
  margin-top: -20px;
  width: 3rem;
  height: 3rem;
  opacity: .5;
}
.arrow-left {
  left: 20px;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid #ffffff;
  transform: rotate(45deg);
  transition: left 0.5s;
  &:hover {
    left: 15px;
    opacity: 1;

  }
}
.arrow-right {
  right: 20px;
  border-bottom: 6px solid #ffffff;
  border-right: 6px solid #ffffff;
  transform: rotate(-45deg);
  transition: right 0.5s;
  &:hover {
    right: 15px;
    opacity: 1;

  }
}
